<p id="notice"><%= notice %></p>

<p>
  <strong>Reason:</strong>
  <%= @bodytemperature.reason %>
</p>

<%= link_to 'Edit', edit_bodytemperature_path(@bodytemperature) %> |
<%= link_to 'Back', bodytemperatures_path %>
