// Place all the styles related to the offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reason{
    display:none;
}

.register{
    text-align:left;
}

.fa-search{
    cursor: pointer;
    transition:all 0.3s;
}

.fa-search:hover{
    background-color:blue;
}

.fas:hover{
    color:black;
}